<div class="container text-center">
  <h1>About Us</h1>
  <p>DevMatch focuses on providing an accessible community for developers, entrepreneurs and investors to come together and connect
  in order to bring their ideas to fruition.</p>
</div>