.avatar-show-img {
    width: 132px;
    height: 132px;
}

.well.profile-block {
    color: #FFFCD1;
    h3 {
      margin-top: 0;
    }
}

.well.profile-description, .profile-contact-info {
    background-color:  #3a7bd5;
    border-color: #4784D3;
}